/*
Name: Familiar
Description: Looks like SyntaxHighlighter.
Version: 1.0
Author: Aram Kocharyan
URL: http://aramk.com/
*/
.urvanov-syntax-highlighter-theme-familiar {
	border-width: 1px !important;
	text-shadow: none !important;
}
.urvanov-syntax-highlighter-theme-familiar-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	border-right-width: 3px !important;
	border-right-style: solid !important;
	border-right-color: #6ce26c !important;
	padding-right: 5px !important;
	color: #afafaf !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-striped-line {
	background: #f9f9f9 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-striped-num {
	color: #afafaf !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-line {
	padding-left: 10px !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-line {
	background: #fffee2 !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-num {
	border-width: 1px !important;
	color: #333333 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #faf8d1 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	color: #333333 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-toolbar {
	background: #eee !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #dedede !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #ff8000 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #008000 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #b85c00 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #FF0000 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #000 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #004ed0 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #002D7A !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #ce0000 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #006fe0 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-familiar .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
