/*
Name: Github
Description: Github like color.
Version: 1.0
Author: Dai Akatsuka
URL: http://firn.jp/
*/
.crayon-theme-github {
  margin-bottom: 25px !important;
  border: 1px solid #dedede !important;
  background-color: #f8f8ff !important;
  font-size: 100% !important;
  line-height: 130% !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-toolbar {
  border-bottom: 1px solid #dedede !important;
  background-color: #eee !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-language,
.crayon-theme-github .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-title {
  font-size: 80% !important;
  color: #666 !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
  background-color: #eee !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums-content {
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-num {
  min-width: 1.2em !important;
  border-right: 1px solid #dedede !important;
  text-align: right !important;
  color: #aaa !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-pre {
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-marked-line {
	background: #fffee2 !important;

}
.crayon-theme-github .urvanov-syntax-highlighter-marked-num {
	color: #1561ac !important;
	background: #b3d3f4 !important;
  border-width: 1px !important;
  border-color: #5999d9 !important;
}

.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #999 !important;
  font-style: italic !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
  color: #d14 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #b85c00 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
    color: #FF0000 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
  color: teal !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
  color: #000 !important;
  font-weight: bold !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
  color: #000 !important;
  font-weight: bold !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #800080 !important;
  font-weight: bold !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #800080 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #000 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
  color: teal !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #002D7A !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #099 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #006fe0 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
    color: #333 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
    color: #666 !important;
    font-style: italic;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.crayon-theme-github .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
    color: #006fe0 !important;
}
