/*
Name: 1C (���)
Description: ����� ��� ��������� ���� 1C
Version: 1.0
Author: Oparin Pavel
URL: http://oparin.info
*/
.urvanov-syntax-highlighter-theme-1c-kod {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
}
.urvanov-syntax-highlighter-theme-1c-kod-inline {
    border-width: 1px !important;
    border-color: #ddd !important;
    border-style: solid !important;
	background: #fafafa !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #dfefff !important;
	color: #5499de !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-striped-line {
	background: #f7f7f7 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-striped-num {
	background: #c8e1fa !important;
	color: #317cc5 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-line {
	background: #fffee2 !important;
    border-width: 1px !important;
    border-color: #e9e579 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-num {
	color: #1561ac !important;
	background: #b3d3f4 !important;
    border-width: 1px !important;
    border-color: #5999d9 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #faf8d1 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #9ec5ec !important;
	color: #105395 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #b1af5e !important;
    border-bottom-style: solid !important;
	color: #7e7d34;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-toolbar {
	background: #DDD !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #BBB !important;
    border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button {
	background-color: #DDD;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button:hover {
	background-color: #EEE;
	color: #666;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE;
	color: #666;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #BCBCBC;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #BCBCBC;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-button:active {
	background-color: #BCBCBC;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #008000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
    color: #000000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #963200 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
    color: #FF0000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #FF0000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #800080 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
    color: #000000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #002D7A !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #ce0000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #FF0000 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
    color: #333 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
    color: #666 !important;
    font-style: italic;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
    color: #006fe0 !important;
}
.urvanov-syntax-highlighter-theme-1c-kod .urvanov-syntax-highlighter-pre, .urvanov-syntax-highlighter-syntax pre{
    color: #0000FF !important;
}
