/*
Name: Secrets Of Rock 1
Description: Secrets of Rock CD
Version: 1.0
Author: Heffa Fuzzel
Url: http://www.secretsofrock.net
*/
.urvanov-syntax-highlighter-theme-secrets-of-rock {
	border-width: 1px !important;
	border-color: #4fb9b1 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock-inline {
	border-width: 0px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #4fb9b1 !important;
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-striped-line {
	background: #f7f7f7 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-striped-num {
	background: #0f9f97 !important;
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-line {
	background: #c6e3e0 !important;
	border-width: 1px !important;
	border-color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-num {
	color: #00bfff !important;
	background: #333 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #d9f3f1 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #444 !important;
	color: #afeeee !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-toolbar {
	background: #fdfdfd !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #4fb9b1 !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-language {
	color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button:hover {
	background-color: #c0e3e1 !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock a.urvanov-syntax-highlighter-button:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #2e8b57 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #000333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #b85c00 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #00bfff !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #2e8b57 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #008b8b !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #2e8b57 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #008b8b !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #2e8b57 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #2f4f4f !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #008b8b !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-secrets-of-rock .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #008b8b !important;
}
