/*
Name: Qtcreator
Description: Qt Creator IDE Theme
Version: 0.1
Author: Andrei Shikalev
URL: http://шикалёв.рф
*/
.crayon-theme-qtcreator {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #ffffff !important;
}
.crayon-theme-qtcreator-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #f0f0f0 !important;
	color: #a0a0a0 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-striped-line {
	background: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-striped-num {
	background: #f0f0f0 !important;
	color: #a0a0a0 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-line {
	background: #e0f0ff !important;
	border-width: 1px !important;
	border-color: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-num {
	color: #a0a0a0 !important;
	background: #f0f0f0 !important;
	border-width: 0px !important;
	border-color: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #f0f0f0 !important;
	color: #a0a0a0 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator a.urvanov-syntax-highlighter-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #008000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #008000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #000080 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #FF0000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #808000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #000000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #22eb15 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #808000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #808000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #15a6eb !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #800080 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #000000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #000000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #000000 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #ffffff !important;
}
.crayon-theme-qtcreator .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
