/*
Name: X3info
Description: X3info.com
Version: 1.0
Author: Jafran Ahmed
URL: http://x3info.com
*/
.urvanov-syntax-highlighter-theme-x3info {
	border-width: 1px !important;
	border-color: #35907e !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #f0f0f0 !important;
}
.urvanov-syntax-highlighter-theme-x3info-inline {
	border-width: 0px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #f0f0f0 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #35907e !important;
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-striped-line {
	background: #fafafa !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-striped-num {
	background: #35907e !important;
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-line {
	background: #acb1b0 !important;
	border-width: 1px !important;
	border-color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-num {
	color: #fdfeff !important;
	background: #333333 !important;
	border-width: 0px !important;
	border-color: #5999d9 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #cacfce !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #666666 !important;
	color: #afeeee !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #65642c !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-toolbar {
	border-bottom-width: 0px !important;
	border-bottom-color: #f0f0f0 !important;
	background: #35907e !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-title {
	color: #fbfbfb !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-language {
	color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button:hover {
	background-color: #c0e3e1 !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-x3info a.urvanov-syntax-highlighter-button:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #c7562b !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #9c29b5 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #cb7824 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #46b6db !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #173e36 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #4fb9b1 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #387a6d !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #35907e !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #008b8b !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #4ab28d !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #2f4f4f !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #008b8b !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #3bbece !important;
}
.urvanov-syntax-highlighter-theme-x3info .urvanov-syntax-highlighter-button {
}
