/*
Name: Vs2012 Black
Description: Visual Studio 2012 Black Theme
Version: 1.1
Author: Nikolay Zahariev
URL: http://nikolayzahariev.com/
*/
.crayon-theme-vs2012-black {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #363232 !important;
}
.crayon-theme-vs2012-black-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #1b5b89 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-striped-line {
	background: #363232 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-striped-num {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-line {
	background: #1b5b89 !important;
	border-width: 1px !important;
	border-color: #433636 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-num {
	color: #1ba2c6 !important;
	background: #363232 !important;
	border-width: 1px !important;
	border-color: #363232 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #363232 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black a.urvanov-syntax-highlighter-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #458b45 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #b78686 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #7f7c79 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #FF0000 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #6bdacc !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #e3e8ea !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
.crayon-theme-vs2012-black .urvanov-syntax-highlighter-pre {
	color: #ffffff !important;
}
