/*
Name: 809finest
Description: Version: 1.0
Author: Daniel De Jesús
URL: http://809finest.com
*/
.urvanov-syntax-highlighter-theme-809finest {
	border-width: 1px !important;
	text-shadow: none !important;
	border-color: #162E53 !important;
	border-style: solid !important;
	background: #162E53 !important;
}
.urvanov-syntax-highlighter-theme-809finest-inline {
	border-width: 1px !important;
	border-color: #162E53 !important;
	border-style: solid !important;
	background: #112442 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	color: #ffffff !important;
	background: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-striped-line {
	background: #162E53 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-striped-num {
	background: #BB0A1C !important;
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-line {
	border-width: 1px !important;
	border-color: #162E53 !important;
	background: #162E53 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-num {
	color: #ffffff !important;
	border-width: 1px !important;
	border-color: #BB0A1C !important;
	background: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #162E53 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	color: #ffffff !important;
	background: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-info {
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	color: #ffffff !important;
	border-bottom-color: #BB0A1C !important;
	background: #162E53 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-toolbar {
	background: #BB0A1C !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BB0A1C !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-title {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-language {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button:hover {
	background-color: #dddddd !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #eeeeee !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-809finest a.urvanov-syntax-highlighter-button:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #e91e1e !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #006699 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #BB0A1C !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #BB0A1C !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #ffffff !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #112442 !important;
}
.urvanov-syntax-highlighter-theme-809finest .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #BB0A1C !important;
}
