/*
Name: Cisco Router
Description: Looks like a terminal.
Version: 1.1
Author: Aram Kocharyan
URL: http://aramk.com/
*/
.crayon-theme-cisco-router {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #000000 !important;
}
.crayon-theme-cisco-router-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #000000 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #000100 !important;
	color: #3ec700 !important;
	border-right-color: #55a800 !important;
	border-right-width: 2 !important;
	border-right-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-striped-line {
	background: #000000 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-striped-num {
	background: #000000 !important;
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-line {
	background: #000000 !important;
	border-width: 1px !important;
	border-color: #000000 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-num {
	color: #3ec700 !important;
	background: #000000 !important;
	border-width: 1px !important;
	border-color: #286900 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #000000 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #000000 !important;
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-toolbar {
	background: #375e00 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #779700 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-title {
	color: #87ca00 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-language {
	color: #266400 !important;
	background-color: #669900 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button {
	background-color: #669900 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-button:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #3ec700 !important;
	font-style: italic !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #3ec700 !important;
}
.crayon-theme-cisco-router .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #3ec700 !important;
}
