/*
Name: Arduino IDE
Description: Version: 1.0
Author: Łukasz Więcek
Url: http://majsterkowo.pl
*/
.urvanov-syntax-highlighter-theme-arduino-ide {
	border-width: 1px !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
	border-color: #ddd !important;
	border-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	background: #f9f9f9 !important;
	border-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #fdfdfd !important;
	color: #d4d4d4 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-striped-line {
	background: #fafafa !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-striped-num {
	background: #fafafa !important;
	color: #d4d4d4 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-line {
	border-width: 1px !important;
	border-color: #f9f9f9 !important;
	background: #f0f0f0 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-num {
	color: #d4d4d4 !important;
	background: #f0f0f0 !important;
	border-width: 1px !important;
	border-color: #f9f9f9 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #ececec !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #ececec !important;
	color: #d4d4d4 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-toolbar {
	background: #eeeeee !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #dddddd !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-title {
	color: #999999 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button:hover {
	background-color: #dddddd !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #eeeeee !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-arduino-ide a.urvanov-syntax-highlighter-button:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #888888 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #006699 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #222222 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #e91e1e !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #006699 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #cc6600 !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #cc6600 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #CC6600 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #cc6600 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #222222 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #cc6600 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #222222 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #222222 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #222222 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-arduino-ide .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
