/*
Name: Prism Like
Description: Theme similar to prism.js with rounded corners
Version: 1.0
Author: Augustin
*/
.urvanov-syntax-highlighter-theme-prism-like {
	margin-bottom: 25px !important;
	background-color: #F5F2F0 !important;
	border-radius: 5px;
	font-size: 100% !important;
	line-height: 130% !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #dedede !important;
	background: #f5f5f5 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-toolbar {
	background-color: #eee !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #dedede !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-language {
	font-size: 80% !important;
	color: #666 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-title {
	font-size: 80% !important;
	color: #666 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background-color: #eee !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums-content {
	padding-top: 5px !important;
	padding-bottom: 3px !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-num {
	min-width: 1.2em !important;
	text-align: right !important;
	color: #aaa !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #dedede !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre {
	padding-top: 5px !important;
	padding-bottom: 3px !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-marked-line {
	background: #fffee2 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-marked-num {
	color: #1561ac !important;
	background: #b3d3f4 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #7D8B99 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #669900 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #b85c00 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #FF0000 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #2F9C0A !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #1990C5 !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #1990C5 !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #1990C5 !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #1990C5 !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #000 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: black !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: black !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #990055 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #A67F59 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-prism-like .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
