/*
Name: Powershell
Description: Version: 1.0
Author: Joshua Davis
URL: http://jdav.is
*/
.urvanov-syntax-highlighter-theme-powershell {
	border-width: 1px !important;
	border-color: #303030 !important;
	text-shadow: none !important;
	background: #303030 !important;
}
.urvanov-syntax-highlighter-theme-powershell-inline {
	border-width: 0px !important;
	border-color: #000000 !important;
	background: #012456 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #012456 !important;
	color: #fff !important;
	border-right-width: 1px !important;
	border-right-color: #8c8d8f !important;
	border-right-style: solid !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-striped-line {
	background: #012456 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-striped-num {
	background: #012456 !important;
	color: #fff !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-line {
	background: #012456 !important;
	border-width: 1px !important;
	border-color: #595959 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-num {
	color: #fff !important;
	background: #012456 !important;
	border-width: 1px !important;
	border-color: #595959 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #012456 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #012456 !important;
	color: #fff !important;
}/**/
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-info {
	background: #333 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	color: #fff !important;
	border-bottom-style: solid !important;
}/**/
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-toolbar {
	background: #4f4f4f !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #2e2e2e !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-title {
	color: #fff !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-language {
	color: #fff !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button {
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button:hover {
	background-color: #d3d3d3 !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #bcbcbc !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #626262 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #626262 !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-button:active {
	background-color: #bcbcbc !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #57A64A !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #D69D85 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #9B9B8B !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #d35a5a !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #569CD6 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #20b0da !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #f4bb15 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #f4bb15 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #569CD6 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #dcdcdc !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #ff8000 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #bdb76b !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #e7a37a !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #DADADA !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #D8D8D8 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999999 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #006fe0 !important;
}
.urvanov-syntax-highlighter-theme-powershell .urvanov-syntax-highlighter-pre {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-powershell {
	background: #012456 !important;
}
