/*
Name: Son Of Obsidian
Description: Inspired from http://studiostyl.es/schemes/son-of-obsidian
Version: 1.1
Original Author: http://studiostyl.es/users/135
Author: Phiphou
URL: http://blog.phiphou.com
Twitter: @__phiphou__
*/
.urvanov-syntax-highlighter-theme-son-of-obsidian {
	text-shadow: none !important;
	background: #fafafa !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #ddd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-code {
	background: #22282a !important;
	color: #f1f2f3 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #22282a !important;
	color: #808080 !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #475459 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-striped-line {
	background: #22282a !important;
	border-width: 1px !important;
	border-color: #ccc !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-striped-num {
	background: #293134 !important;
	color: #808080 !important;
	border-width: 1px !important;
	border-color: #22282a !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-line {
	background: #40292c !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-num {
	color: #808080 !important;
	background: #40292c !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #40292c !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #663d43 !important;
	color: #808080 !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	color: #7e7d34 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-toolbar {
	background: #ddd !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #bbb !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button:hover {
	background-color: #eee !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #eee !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #bcbcbc !important;
	color: #fff;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #bcbcbc !important;
	color: #fff;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-button:active {
	background-color: #bcbcbc !important;
	color: #fff;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #66747b !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #00FF00 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #ec7600 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #a082bd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #a082bd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #a082bd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #a082bd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #a082bd !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #99daf9 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #678cb1 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #678cb1 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #95c763 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #99daf9 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #ffcd22 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #ffcd22 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #f1f2f3 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #f1f2f3 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #898989 !important;
}
.urvanov-syntax-highlighter-theme-son-of-obsidian .urvanov-syntax-highlighter-pre {
	color: #ffffff !important;
}
