/*
Name: Coda Special Board
Description: Dark and elegant. 
Version: 1.4
Author: Simone Ottaviano
URL: http://www.refuseall.it
*/
.urvanov-syntax-highlighter-theme-coda-special-board {
	text-shadow: none !important;
	color: #fff;
	background: #2d2d2d !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #333 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-code {
	background: #2d2d2d !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board-inline {
	background: #333 !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #333 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board span {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	color: #333 !important;
	background: #e0e0e0 !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #333 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-striped-line {
	background: #343434 !important;
	border-width: 1px !important;
	border-color: #171717 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-striped-num {
	background: #aaa !important;
	color: #555 !important;
	border-width: 1px !important;
	border-color: #CCC !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-line {
	background: #484844 !important;
	border-width: 1px !important;
	border-color: #222 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-num {
	color: #555 !important;
	background: #bbb !important;
	border-width: 1px !important;
	border-color: #777 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #51514d !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #ccc !important;
	color: #888 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	color: #7e7d34 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-toolbar {
	background: #b2b2b2 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #666 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-language {
	color: #666 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-mixed-highlight {
	background-position: -24px center;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button:hover {
	background-color: #ccc !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #ccc !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #999 !important;
	color: #ccc;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #999 !important;
	color: #ccc;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-button:active {
	background-color: #999 !important;
	color: #ccc;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #797979 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #a19ba2 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #b2cb79 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #fecf84 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #fecf84 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #fecf84 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #fecf84 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #d58a45 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #AAA !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #d58a45 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #dadafe !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #b1758c !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #80aac6 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #c2be23 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #82adc9 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #726e73 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #595959 !important;
}
.urvanov-syntax-highlighter-theme-coda-special-board .urvanov-syntax-highlighter-pre {
	color: #ffffff !important;
}
