/*
Name: Mm Dark Blue
Description: Version: 1.0
Author: Max McKinney
URL: maxmckinney.com
*/
.urvanov-syntax-highlighter-theme-mm-dark-blue {
	border-width: 0px !important;
	text-shadow: none !important;
	background: #252C3B !important;
	border-color: #252C3B !important;
	border-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	background: #252C3B !important;
	border-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #333e53 !important;
	color: #888888 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue *::selection {
	background: transparent !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-code *::selection {
	background: #ddeeff !important;
	color: #316ba5 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-striped-line {
	background: #252C3B !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-striped-num {
	background: #333e53 !important;
	color: #888888 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-line {
	border-width: 0px !important;
	border-color: #f6efef !important;
	background: #353f54 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-num {
	color: #888888 !important;
	background: #262d3f !important;
	border-width: 0px !important;
	border-color: #f9f9f9 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #353f54 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #262d3f !important;
	color: #888888 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-info {
	background: #717c94 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #323c51 !important;
	border-bottom-style: solid !important;
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-toolbar {
	background: #495671 !important;
	border-bottom-width: 10px !important;
	border-bottom-color: #323c51 !important;
	border-bottom-style: solid !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-title {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button:hover {
	background-color: #dddddd !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #eeeeee !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue a.urvanov-syntax-highlighter-button:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #aaaaaa !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #c2885a !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #e91e1e !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #90C56B !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #90C56B !important;
	font-weight: bold !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #90C56B !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #BF616A !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #90C56B !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #90C56B !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #ffffff !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #dfdfdf !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #ffffff !important;
}
.urvanov-syntax-highlighter-theme-mm-dark-blue .urvanov-syntax-highlighter-pre {
	color: #ffffff !important;
}
