/*
Name: Solarized Light
Description: Clean, crisp and colorful. 
Version: 1.0.0 Beta 2
Author: Ethan Schoonover
URL: http://ethanschoonover.com/
Maintainer: Eduan Lavaque
Maintainer URL: http://eduantech.com/
Notes: I don't provide striped lines because it would break the original purpose of this colorscheme.
*/
.urvanov-syntax-highlighter-theme-solarized-light {
	text-shadow: none !important;
	background: #fdf6e3 !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #999 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-code {
	background: #fdf6e3 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light-inline {
	background: #fdf6e3 !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #ddd !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-table .urvanov-syntax-highlighter-nums {
	background: #eee8d5 !important;
	color: #93a1a1 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-striped-line {
	background: #fdf6e3 !important;
	border-width: 1px !important;
	border-color: #CCC !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-striped-num {
	color: #93a1a1 !important;
	background: #eee8d5 !important;
	border-width: 1px !important;
	border-color: #CCC !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-line {
	background: #eee8d5 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-num {
	color: #93a1a1 !important;
	background: #fdf6e3 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-striped-line {
	background: #eee8d5 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-striped-num {
	background: #fdf6e3 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
	border-color: #839496 !important;
	border-width: 1px !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-top {
	border-top-style: solid !important;
	border-color: #839496 !important;
	border-width: 1px !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-line.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
	border-color: #839496 !important;
	border-width: 1px !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-marked-num.urvanov-syntax-highlighter-bottom {
	border-bottom-style: solid !important;
	border-color: #839496 !important;
	border-width: 1px !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-info {
	background: #faf9d7 !important;
	color: #7e7d34 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-toolbar {
	background: #DDD !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-toolbar > div {
	float: left !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-toolbar .urvanov-syntax-highlighter-tools {
	float: right !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-title {
	color: #333 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-language {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button {
	background-color: transparent !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button.urvanov-syntax-highlighter-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-c {
	color: #93a1a1 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-s {
	color: #2aa198 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-k {
	color: #cb4b16 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-st {
	color: #859900 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-r {
	color: #cb4b16 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-t {
	color: #b58900 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-m {
	color: #b58900 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-i {
	color: #839496 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-e {
	color: #839496 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-v {
	color: #268bd2 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-cn {
	color: #2aa198 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-o {
	color: #859900 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-sy {
	color: #dc322f !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-n {
	color: #666 !important;
	font-style: italic !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-f {
	color: #999 !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-h {
	color: #dc322f !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-p {
	color: #dc322f !important;
}
.urvanov-syntax-highlighter-theme-solarized-light .urvanov-syntax-highlighter-pre .urvanov-syntax-highlighter-ta {
	color: #268bd2 !important;
}
